.footer-container {
  width: 100%;
  background-color: white;
  z-index: 999;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem; /* reduced padding */
  color: black;
  flex-wrap: wrap;
}

.footer-user p {
  text-align: center;
  font-size: 0.9rem; /* slightly smaller text */
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0; /* ensure no default padding */
  margin: 0;
}

.footer-link {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 0.9rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 0.7rem;
}

.social-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}
